*,
*::after,
*::before {
    box-sizing: inherit; 
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px; 
}
  
body {
    box-sizing: border-box;
    color: #777;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    padding: 3rem; 
}

nav {
    height: 2.5rem;
    left: 8.7rem;
    position: absolute;
    top: 4rem;
    width: 13.3rem;
}

nav > h1 {
    color: #333333;
    font-family: 'Inconsolata';
    font-size: 2.4rem;
    font-style: normal;
    font-weight: bold;
    letter-spacing: -0.08em;
    line-height: 2.5rem;
    text-transform: uppercase;
}

main {
    bottom: 34.03%;
    left: 10.35%;
    position: absolute;
    right: 57.21%;
    top: 24.54%;

}

main > .espantalho {
    height: 130%;
}

.main-title {
    position: absolute;
    height: 19rem;
    left: 120%;
    top: 0%;
    width: 52rem;
}

.main-title h1 {
    color: #333333;
    font-family: 'Space Mono';
    font-size: 500%;
    font-style: normal;
    font-weight: bold;
    letter-spacing: -0.035em;
    line-height: 7rem;
    margin-bottom: 5%;
}

.main-title h2 {
    font-family: 'Space Mono';
    font-size: 2rem;
    font-style: normal;
    font-weight: normal;
    letter-spacing: -0.035em;
    line-height: 3.6rem;
    margin-bottom: 10%;
    width: 65%;
}

.btn {
    background-color: #323232;
    color: #f0f0f2;
    font-family: Space Mono;
    font-size: 1.4rem;
    padding: 2rem 3.8rem;
    text-transform: uppercase;
    text-decoration: none;
}

.btn:hover {
    background-color: #111;
}

@media only screen and (max-width: 767px) {
    nav {
        position: unset;
    }
    nav > h1 {
        font-size: 2.4rem;
    }
    main {
        position: unset;
    }
    .espantalho {
        display: block;
        margin: 20% 0;
        width: 100%;
    }
    .main-title {
        width: 85vw;
        position: unset;
    }
    .main-title > h1 {
        font-size: 3.8rem;
        line-height: 5rem;
        margin-bottom: 8%;
    }
    .main-title > h2{
        font-size: 1.8rem;
        margin-bottom: 20%;
        width: 80vw;
    }

    .btn {
        padding: 1.5rem 2rem;
    }
}